Client/node_modules
Client/__pycache__
Server/run.bat
node_modules
Server/lib/node_modules
Server/lib/*old
Server/lib/Web/*old
Server/lib/Web/public/*old
Server/lib/sub/*.json
Server/lib/Web/public/mp3host
Server/lib/Web/public/naver*.html
Server/lib/Web/public/pinterest*.html
Server/lib/Web/public/test
Server/lib/Web/public/js/*.min.js
Server/sec
*.log
workspace
not_k
